---
import { BUTTONS } from '../config';
---

{
	BUTTONS.map((button) => (
		<a
			href={button.href}
			class={`${button.background} w-full rounded-xl border-2 border-black py-4 text-center text-xl font-bold text-white drop-shadow-[4px_5px_0_rgba(0,0,0,1)] duration-75 hover:translate-y-1 hover:translate-x-1 hover:drop-shadow-none`}
		>
			{button.name}
		</a>
	))
}
