---
import HeadCommon from '../components/HeadCommon.astro';
import HeadSEO from '../components/HeadSEO.astro';
---

<!DOCTYPE html>
<html dir="ltr" lang="sk-SK">
	<head>
		<HeadCommon />
		<HeadSEO />
	</head>
	<body>
		<slot />
	</body>
</html>
